:root{
    --font1:'Abril Fatface', cursive;
    --font2:'Open Sans', sans-serif;
    --brand-cl:#d6c6b2;
    --light-bl:#e7f0f3; 
    --bla:#222222;
    --semi-bla:#444444;
    --wht-cl:#ffffff;
    --wh-sec:#f1f1f1; 
    --l-white:#dddddd;
    --gry:#666666;
    --bl-over:rgba(0, 0, 0,0.7);  
}
/* =====================================
        root css ends
======================================== */
.abril-reg{
    font-family:var(--font1);
    font-weight:400;
}

.open-reg{
    font-family:var(--font2);
    font-weight:400;
}
.open-med{
    font-family:var(--font2);
    font-weight:500;
}
.open-semi{
    font-family:var(--font2);
    font-weight:600;
}
.open-bold{
    font-family:var(--font2);
    font-weight:700;
}

/* =====================================
        font-weight css ends
======================================== */
.fs-14{
    font-size:14px;
}
.fs-16{
    font-size:16px;
}
.fs-20{
    font-size:20px;
}
.fs-22{
    font-size:22px;
}
.fs-24{
    font-size:24px;
}
.fs-32{
    font-size:32px;
}
.fs-60{
    font-size:60px;
}
.fs-85{
    font-size:85px;
}
.fs-102{
    font-size:102px;
}

/* =====================================
        font-size css ends
======================================== */
.white{
    color:var(--wht-cl);
}
.white-secondary{
    color:var(--wh-sec);
}
.black{
    color:var(--bla);
}
.ash{
    color:var(--semi-bla);
}
.light-blue{
    color:var(--light-bl);
}
.brand{
    color:var(--brand-cl);
}
.light-white{
    color:var(--l-white);
}
.gray{
    color:var(--gry);
}

/* =====================================
        color css ends
======================================== */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color:var(--bla);
}
img{
    vertical-align: middle;
}
ul,ol{
    list-style: none;
}
.container{
    width:1170px;
    margin:0 auto;
}


/* =====================================
        common css ends
======================================== */
.text-up{
    text-transform: uppercase;
}
.text-cap{
    text-transform: capitalize;
}



/* =====================================
        text transform css ends
======================================== */
header{
    height:107px;
    /* background:#666666; */
    position:absolute;
    inset:0;
    z-index:1
    
}
header .header-main{
    height:107px;
    display:flex;
    justify-content: space-between;
}
header .header-main .logo{
    height:77px;
    width:176px;
}
header .header-main .logo img{
    width:100%;
    padding-top:30px;
}
header .header-main .menu{
    height:90px;
    width:600px;
}
header .header-main .menu nav ul{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content:flex-end;
}
header .header-main .menu nav ul li{
    transition: all linear 0.4s;
    display: block;
    padding:58px 10px 10px 10px;
}
header .header-main .menu nav ul li:hover{
    background:var(--brand-cl);
}

/* =====================================
        header section css ends
======================================== */
#banner{
    height:622px;
    background:var(--light-bl);
}
#banner .banner-main{
    height:622px;
    display:flex;
    position:relative;
}
#banner .banner-main .banner-image{
    width:647px;
    height:622px;
    position:relative;
}
#banner .banner-main .banner-image img{
    position:absolute;
    top:0;
    left:100px;
    
}
#banner .banner-main .banner-text{
    width:500px;
    height:622px;
}
#banner .banner-main .banner-text h3{
    padding-top:235px;
    padding-left:145px;
}
#banner .banner-main .banner-text h1{
    padding-left:6px;
}
#banner .banner-main .banner-text h2{
    position:absolute;
    right:140px;
    bottom:146px;
    z-index: 999;
}
#banner .banner-main .banner-text .btn{
    position:absolute;
    right:150px;
    bottom:90px;
     
}
#banner .banner-main .banner-text .btn a{
    display: inline-block;
    padding:0 20px;
    line-height: 40px;
    border:1px solid var(--brand-cl);
    margin-right:30px;
    transition: all linear 0.4s;
}
#banner .banner-main .banner-text .btn a:hover{
    background:var(--brand-cl);
    color:var(--bla);
}
/* =====================================
        banner section css ends
======================================== */
#about{
    height:520px;
    margin-top:97px;
    margin-bottom:100px;
}
#about .about-main{
    height:520px;
    display:flex;
    justify-content: space-between;
}
#about .about-main .about-image{
    width:470px;
    height:520px;
    position:relative;
}
#about .about-main .about-image img.about-one{
    width: 100%;
    position:absolute;
    inset:0;
    z-index:1;
}
#about .about-main .about-image img.about-person{
    width: 100%;
    position:absolute;
    left:-72px;
    top:-17px;
    z-index:2;
}
#about .about-main .about-text{
    width:670px;
    height:520px;
}
#about .about-main .about-text h3{
    padding-bottom:65px;
}
#about .about-main .about-text p.distance{
    line-height:24px;
    padding-bottom:40px;
}
#about .about-main .about-text p.need{
    padding-bottom:55px;
}
#about .about-main .about-text .hire h4{
    padding-bottom:32px;
}
#about .about-main .about-text .hire ul{
    display:flex;
}
#about .about-main .about-text .hire ul li{
    width:50px;
    height:50px;
    border:1px solid #444444;
    border-radius:50%;
    text-align:center;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right:20px;
    transition:all linear 0.4s;
}
#about .about-main .about-text .hire ul li:hover{
    background:var(--brand-cl);
    border:none;
    box-shadow: 0px 2px 8px 0px rgba(214,198,178,0.8);
}


/* =====================================
        about section css ends
======================================== */
#service{
    height:600px;
    background:linear-gradient(to right,#f5f5f5, #f9f9f9);
    padding-bottom:60px;
}
#service .service-main{
    height:442px;
}
#service .service-main .service-head{
    height:36px;
    text-align: center;
    padding-bottom:60px;
    padding-top:50px;
    
}
#service .service-main .service-detail{
    height:406px;
    padding-top:50px;
}

#service .service-main .service-detail .item{
    width:370px;
    height:266px;
    position:relative;
    margin-bottom:60px;
}
#service .service-main .service-detail .item img.item-1{
    width: 90px;
    position:absolute;
    top:0;
    left:50%;
    transform:translateX(-50%);
    
}
#service .service-main .service-detail .item img.item-2{
    width:54px;
    position:absolute;
    top:0;
    left:160px;
    z-index:1;
}
#service .service-main .service-detail .item h4{
    text-align: center;
    padding-top:120px;
    padding-bottom:25px;
    
}
#service .service-main .service-detail .item p{
    line-height:24px;
    text-align: center;
}

.owl-theme .owl-nav {
	margin-top: 10px;
	position: absolute;
	left: 486px;
	bottom: 2px;
}

.owl-nav i {
	width: 90px;
	font-size: 31px;
}
.owl-carousel .owl-nav button.owl-prev i,.owl-carousel .owl-nav button.owl-next i{
    color:#444444;
}
.owl-carousel .owl-nav button.owl-prev:hover, .owl-carousel .owl-nav button.owl-next:hover{
    background:none;
    color:#222222;
}

.owl-theme .owl-dots .owl-dot span {
	width: 30px;
	height: 30px;
	margin: 5px 20px;
	background: none;
    border:1px solid #222222;
	display: block;
	-webkit-backface-visibility: visible;
	transition: opacity .2s ease;
	border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background: var(--brand-cl);
    border:none;
}

/* =====================================
        service section css ends
======================================== */
#portfolio{
    height:1036px;
    margin-top:100px;
    margin-bottom:100px;
}
#portfolio .portfolio-main{
    position:relative;
}
#portfolio .portfolio-main .both{
    height:1036px;
    display:flex;
    justify-content: space-evenly;
    
}
#portfolio .portfolio-main .both .gallery{
    width:770px;
    height:1036px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#portfolio .portfolio-main .both .gallery .gallery-item{
    width:370px;
    height:450px;
    position:relative;
   
}
#portfolio .portfolio-main .both .gallery .gallery-item:nth-child(3){
    margin-top:-40px;
}
#portfolio .portfolio-main .both .gallery .gallery-item:last-of-type{
    margin-top:-40px;
}
#portfolio .portfolio-main .both .gallery .gallery-item .gallery-overlay{
    content:'';
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    background:rgb(214, 198, 178,0.85);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity:0;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}
#portfolio .portfolio-main .both .gallery .gallery-item:hover .gallery-overlay{
    opacity:1;
}
#portfolio .portfolio-main .both .gallery .gallery-item .gallery-overlay .icon{
    height:50px;
    width:50px;
    background:var(--semi-bla);
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:160px;
    
}
#portfolio .portfolio-main .both .gallery .gallery-item .gallery-overlay .icon i{
    font-size: 20px;
    color:#ffffff;

}
#portfolio .portfolio-main .both .gallery .gallery-item .gallery-overlay h5{
    padding-top:118px;
}

#portfolio .portfolio-main a.btn{
    display: inline-block;
    padding:0 20px;
    line-height:42px;
    background:var(--brand-cl);
    position:absolute;
    left:380px;
    bottom:0;
    margin-top:60px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}
#portfolio .portfolio-main a.btn:hover{
    background:var(--bla);
    color:var(--brand-cl);
}

#portfolio .portfolio-main .both .navigation{
    width:200px;
    height:1036px;
}
#portfolio .portfolio-main .both .navigation .navigation-head{
    margin-top:-8px;
    margin-bottom:60px;
}
#portfolio .portfolio-main .both .navigation ul li{
    margin-bottom:33px;
    cursor: pointer;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}
#portfolio .portfolio-main .both .navigation ul li:last-child{
    margin-bottom:0;
}
#portfolio .portfolio-main .both .navigation ul li.active{
    color:var(--brand-cl);
    padding-left:40px;
}

.vbox-prev{
    left:173px;
}
.vbox-next{
    right:173px;
}

.vbox-close{
    top:15px;
    right:115px;
}


/* =====================================
        portfolio section css ends
======================================== */
#testimonial{
    height:511px;
    background:url(../images/testimonial-bg.jpg) no-repeat center / cover;
    margin-bottom:95px;
    position:relative;
    z-index:1; 
}
#testimonial::after{
    content:'';
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7);
    position:absolute;
    top:0;
    left:0; 
    z-index:-1;   
}
#testimonial .testimonial-main{
    height:511px;
}
#testimonial .testimonial-main .testimonial-head{
    height:135px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#testimonial .testimonial-main .testimonial-slider{
    width:100%;
    height:320px;
}

#testimonial .testimonial-main .item{
    width:570px;
    height:227px;
    display:flex;
    justify-content: space-between;
}
#testimonial .testimonial-main .testimonial-slider .item .test-image{
    width:171px;
    height:227px;
    position:relative;
    float:left;
}
#testimonial .testimonial-main .testimonial-slider .item .test-image img.check{
    position:absolute;
    top:36px;
    left:0;
    z-index:1;
}
#testimonial .testimonial-main .testimonial-slider .item .test-image img.check-2{
    position:absolute;
    top:8px;
    left:12px;
    z-index:2;
}

#testimonial .testimonial-main .testimonial-slider .item .testi-text{
    width:370px;
    height:227px;
    float:left;
    margin-left:30px;
}
#testimonial .testimonial-main .testimonial-slider .item .testi-text h3{
    padding-top:26px;
}
#testimonial .testimonial-main .testimonial-slider .item .testi-text h4{
    padding-bottom:14px;
}
#testimonial .testimonial-main .testimonial-slider .item .testi-text ul{
    display:flex;
}
#testimonial .testimonial-main .testimonial-slider .item .testi-text ul li{
    margin-right:5px;
}
#testimonial .testimonial-main .testimonial-slider .item .testi-text ul li:last-child{
    margin-right:0;
}
#testimonial .testimonial-main .testimonial-slider .item .testi-text ul li i{
    color:#ffffff;
}
#testimonial .testimonial-main .testimonial-slider .item .testi-text p{
    line-height:24px;
    padding-top:26px;
}
#testimonial .testimonial-main .testimonial-slider .slick-slide{
    padding:0 6px;
}
#testimonial .testimonial-main .testimonial-slider .slick-dots{
    position:absolute;
    bottom:0;
    left:0;
}
#testimonial .testimonial-main .testimonial-slider .slick-dots li button{
    font-size:0;
    border:none;
    outline:none; 
} 
#testimonial .testimonial-main .testimonial-slider .slick-dots li{
    width:30px;
    height:30px;
    border-radius:50%;
    transition:all linear 0.4s;
    border:1px solid #ffffff;
}
#testimonial .testimonial-main .testimonial-slider .slick-dots li.slick-active{
    background: var(--brand-cl);
    border:none;
}
#testimonial .testimonial-main .testimonial-slider .left-arrow{
    width:43px;
    height:43px;
    color:#ffffff;
    font-size:31px;
    line-height:43px;
    text-align:center;
    cursor:pointer;
    position:absolute;
    left:43.5%;
    bottom:-6px;
    z-index:1;
}
#testimonial .testimonial-main .testimonial-slider .next-arrow{
    width:43px;
    height:43px;
    color:#ffffff;
    font-size:31px;
    line-height:43px;
    text-align:center;
    cursor:pointer;
    position:absolute;
    right:43.5%;
    bottom:-6px;
    z-index:1;
    
}

/* =====================================
        testimonial section css ends
======================================== */
#price{
    height:650px;
    margin-bottom:100px;
}
#price .price-main{
    height:650px;
}

#price .price-main .price-head{
    height:50px;
    text-align: center;
}
#price .price-main .price-list{
    height:600px;
    display:flex;
    justify-content: space-between;
    padding-top:40px;
}
#price .price-main .price-list .price-item{
    width:370px;
    height:560px;
    background:#f1f1f1;
    position:relative;
}
#price .price-main .price-list .price-item .price-head{
    width:370px;
    height:55px;
    background:var(--l-white);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all linear 0.4s;
}
#price .price-main .price-list .price-item .price-details{
    width:370px;
    height:505px; 
    position:relative;
    transition: all linear 0.4s;
}
#price .price-main .price-list .price-item .price-details img.center{
    margin-left:40%;
    margin-top:26px;
}
#price .price-main .price-list .price-item .price-details img.center-1{
    margin-left:44%;
    margin-top:-132px;  
}
#price .price-main .price-list .price-item .price-details h1{
    text-align: center;
    margin-top:-13px;
}
#price .price-main .price-list .price-item .price-details h1::after{
    content:'';
    width:230px;
    height:1px;
    background:rgb(102, 102, 102,0.1);
    position:absolute;
    left:50%;
    top:200px;
    transform:translateX(-50%);
    
}
#price .price-main .price-list .price-item .price-details p{
    text-align: center;
    margin-top:23px;
}
#price .price-main .price-list .price-item .price-details a{
    display:inline-block;
    padding:0 20px;
    line-height:42px;
    border:1px solid var(--semi-bla);
    margin-top:27px;
    margin-left:27%;
    transition: all linear 0.4s;
}

#price .price-main .price-list .price-item:hover .price-head{
    background:#cbb8a1;
    box-shadow: 0px 3px 1px #cbb8a1;
}
#price .price-main .price-list .price-item:hover .price-details{
    background:var(--brand-cl);
}
#price .price-main .price-list .price-item:hover .price-details a{
    border:none;
    background:#cbb8a1;
    box-shadow: 0px 3px 8px #cbb8a1;
}

/* =====================================
        price section css ends
======================================== */
